    header {
        text-align: center;
        font-family: 'Kodchasan';
        font-size: 24px;
    }
    
    ul {
        list-style: none;
        text-align: center;
    }
    
    .contadorText {
        text-align: center;
    }
    
    footer {
        width: 100%;
        background-color: #007070;
        color: beige;
        text-align: center;
        font-family: 'Coda';
        font-size: 11px;
    }