*{
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #a68069;
    font-family: sans-serif;

}

textarea {
    background-color: #d8af97;
    border-radius: 5px;
    height: 200px;
    padding: 1rem;
    font-size: large; 
    width: 500px;

} 
header {
   color: black;

    }

.mi-lu {
    list-style: none;
}
.mi-li {
    width: 200px;
    height: 30px;
    background-color:#d8af97 ;
    border-radius: 5px;
    margin: 20px 40px;
    color:black ;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
}

#reset-button {
    width: 200px;
    height: 60px;
    background-color:#9b2b0c ;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

#reset-button:hover{
    background-color: #c72c01;
}

footer{
    text-align: right;
}

